/* Import Poppins font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
  --primary-color: #dc2626;
  --text-dark: #171717;
  --text-light: #78716c;
  --extra-light: #f9f9f9;
  --white: #ffffff;
  --black: #000000;
  --max-width: 1200px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section__container{
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}
.section__header{
  margin: auto;
  padding-bottom: 0.75rem;
  width: fit-content;
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}
.section__header::before{
  position: absolute;
  content:"";
  bottom: 0;
  left: 0;
  height: 2px;
  width: 50px;
  background-color: var(--primary-color);
}
img{
  width: 100%;
  displaY: flex;
}
a{
  text-decoration: none;
}
body{
  font-family: "Poppins", sans-serif;
  background-color: var(--extra-light);
}
nav{
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.nav__logo img{
  max-width: 100px;
}
.nav__links{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}
.link a{
  font-weight: 500;
  color: var(--text-light);
}
.link a:hover{
  color: var(--primary-color);
}
.header__container{
  padding-top: 0;
}
.story__container .section__header{
  margin-bottom: 4rem;
}
.story__container p{
  margin-bottom: 2 rem;
  color: var(--text-dark);
}
.evolution__grid{
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1frf);
  gap: 2rem;
  align-items: center;
}
.evolution__nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
